{% for resource_path in resources.keys() %}
from {{ module_name }}.resources.{{ resource_path | replace("/", ".") }} import {{ resource_path.split("/")[-1] | class_name }}Resource
{% endfor %}

__all__ = [
{% for resource_path in resources.keys() | sort %}
    "{{ resource_path.split("/")[-1] | class_name }}Resource",
{% endfor %}
]
