from __future__ import annotations

{% if requests %}
from pydantic import BaseModel

from {{ module_name }}.models import _NAMESPACE as _DOMAIN_NAMESPACE
{% endif %}
{% for model in requests | sort(attribute="name") %}
from {{ module_name }}.models.requests.{{ model.name | module_name }} import {{ model.name | class_name }}
{% endfor %}

__all__: list[str] = [
{% for model in requests | sort(attribute="name") %}
    "{{ model.name | class_name }}",
{% endfor %}
]
{% if requests %}

_NAMESPACE: dict[str, type[BaseModel]] = {
    **_DOMAIN_NAMESPACE,
{% for model in requests | sort(attribute="name") %}
    "{{ model.name | class_name }}": {{ model.name | class_name }},
{% endfor %}
}

for _model in _NAMESPACE.values():
    _model.model_rebuild(_types_namespace=_NAMESPACE)
{% endif %}
