__all__ = [
{% for model in models | sort(attribute="name") %}
    "{{ model.name | class_name }}",
{% endfor %}
]

_MODULES = {
{% for model in models | sort(attribute="name") %}
    "{{ model.name | class_name }}": "{{ model.name | module_name }}",
{% endfor %}
}


def __getattr__(name: str):
    """Lazy import models on first access."""
    if name not in _MODULES:
        raise AttributeError(f"module {__name__!r} has no attribute {name!r}")

    from importlib import import_module

    module = import_module(f"{__name__}.{_MODULES[name]}")
    return getattr(module, name)
