from __future__ import annotations

{% if models %}
from pydantic import BaseModel

{% endif %}
{% for model in models | sort(attribute="name") %}
from {{ module_name }}.models.{{ model.name | module_name }} import {{ model.name | class_name }}
{% endfor %}

__all__: list[str] = [
{% for model in models | sort(attribute="name") %}
    "{{ model.name | class_name }}",
{% endfor %}
]
{% if models %}

_NAMESPACE: dict[str, type[BaseModel]] = {
{% for model in models | sort(attribute="name") %}
    "{{ model.name | class_name }}": {{ model.name | class_name }},
{% endfor %}
}

for _model in _NAMESPACE.values():
    _model.model_rebuild(_types_namespace=_NAMESPACE)
{% endif %}
