from __future__ import annotations

{% set extra_imports = model.properties | type_imports %}
{% if extra_imports %}
{{ extra_imports }}

{% endif %}
from pydantic import BaseModel


class {{ model.name | class_name }}(BaseModel):
{% if model.description %}
    """{{ model.description | strip_html | wordwrap(72) }}"""

{% endif %}
{% if not model.properties %}
    pass
{% endif %}
{% for prop in model.properties %}
{% if prop.required and not prop.nullable %}
    {{ prop.name | field_name }}: {{ prop.schema_type | resolve_type(prop.schema_format) }}
{% elif prop.required and prop.nullable %}
    {{ prop.name | field_name }}: {{ prop.schema_type | resolve_type(prop.schema_format) }} | None
{% elif prop.default is not none %}
    {{ prop.name | field_name }}: {{ prop.schema_type | resolve_type(prop.schema_format) }}{% if prop.nullable %} | None{% endif %} = {{ prop.default | pyval }}
{% else %}
    {{ prop.name | field_name }}: {{ prop.schema_type | resolve_type(prop.schema_format) }} | None = None
{% endif %}
{% endfor %}
